#Data Science Tools and Ecosystem

##In this notebook, Data Science Tools and Ecosystem are summarized.

#Some of the popular languages that Data Scientists use are:
Python.
R.
SQL.
Java.
Julia.
Scala.
C/C++
JavaScript.

#Some of the commonly used libraries used by Data Scientists include:
TensorFlow.
NumPy
SciPy.
Pandas.
Matplotlib
Keras.
SciKit-Learn.
PyTorch.

#Data Science Tools
BigML
D3
MATLAB
Excel
ggplot2
Tableau

###Below are a few examples of evaluating arithmetic expressions in Python.

In [2]:
(3*4)+5
#This a simple arithmetic expression to mutiply then add integers.

17

In [5]:
total_minutes = 200

# Get hours with floor division
hours = total_minutes // 60

# Get additional minutes with modulus
minutes = total_minutes % 60

# Create time as a string
time = "{}:{}".format(hours, minutes)

print(time)
#This will convert 200 minutes to hours by diving by 60.

3:20

#List popular languages for Data Science
Python.
R.
SQL.
Java.
Julia.
Scala.
C/C++
JavaScript.

##Author 
Vasundhara